.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container{
  width: 900px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(146,175,176,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(146,175,176,1);
box-shadow: 10px 10px 5px 0px rgba(146,175,176,1);
background-color: #5D5D65;
padding: 5px 3px;
position: relative;
}

.main{
  width: 900px;
  height: 560px;
  border: 2px solid black;
  margin-top: 20px; 
  background-color: #fff;
  
}
.search{
  border:none;
  height: 24px;
  width: 350px;
  margin-right: 5px;
}
.mainlist{
  padding: 10px;
  width: 800px;
  height: 520px;
  text-align: left;
  display: flex;
  flex-direction: column;
  
}
.star{
  width: 100px;
  margin:0px -35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
span{
  font-size: 62px;
    margin-top: 0px;
    font-weight: 400;
    color: #bbb4b4;
}
.bar{
margin-top:05px;
border: 2px solid #A6C7FF;
height: 27px;
border-radius: 3px ;
padding-right: 4px;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 850px;
  height: 50px;
  padding: 0px 10px;
}
.box-office{
  background: #fff;
  border: 1px solid rgba(0,0,0,.03);
  border-radius: 6px;
  height: 230px;
  overflow: hidden;
  max-width: 140px;
  z-index: 2;
  position: relative;
  display:block;
  color: #747474;
  text-align: center;
  margin: 5px;
  position:relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(146,175,176,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(146,175,176,1);
box-shadow: 10px 10px 5px 0px rgba(146,175,176,1);
}
.office{
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  display:flex; 
  z-index: 1;
}
p{
  font-size: 10px;
}
img{
  max-height: 170px;
  width: 200px;
  height: 150px;
  margin-bottom: 5px;
}
a{
  text-decoration: none;
}
h6{
  margin:2px;
}
.color{
  color:yellow;
}
.stars{
  position: absolute;
  top:0px;
  right: 0px;
  
}
.form{
  display:flex;
  flex-direction: column;
}
label{
  display: flex;
  justify-content: space-between;
}
.add{
  position:absolute;
  top: 36px;
  left: 417px;
  
}
.formulaire{
  top:50%;
  right: 50%;
}
.icon{
  color:#A6C7FF;
}
.listoffice{
display:flex;
flex-direction: row;
flex-wrap: wrap;
}
